<!--login.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>

</head>
<body>
<form method="post" action="/search">
    <h3>찾고자 하는 책의 제목을 입력해주세요</h3>
    <input type="text" name="search_name">
    <button type="submit">검색</button>
</form>
</body>
</html>