<!--login.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>

</head>
<body>
<h1>찾고자 하는 책의 제목을 입력해주세요</h1>
<form method="post" action="/search">
    <h4>책 제목</h4>
    <input type="text" name="search_name">
    <button type="submit">전송</button>
</form>
</body>
</html>